@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.images-main img {
    width: 599px;
    height: 249px;
}
.content-box img {
    width: 237px;
    height: 113px;
    margin: 25px 0;
}
.text-main h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    text-align: center;
    margin: 15px 0 0;
}
.btn-flex h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    margin: 0 10px 0;
}
.div img {
    width: 17px;
    height: 15px;
}
.btn2 {
    width: 143px;
    height: 40px;
    background: #245462;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.margin{
    margin: 0 25px 0;
}
.p-text{
    margin: 10px 0 19px;
}
.div {
    display: flex;
    align-items: center;
}
.div p {
    margin: 0 10px 0;
}
.flex-dicoration {
    display: flex;
    align-items: center;
}

.btn-flex {
    display: flex;
    align-items: center;
}

.btn-flex button {
    width: 64px;
    height: 42px;
}
.p-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #686868;
    width: 400px;
}
.text-wrap p {
    margin: 15px 0 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 51vh;
    width: 63%;
    align-items: center;
    margin: 0 auto;
}
.content-main {
    margin: 0 10px;
}

.container23 {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 47vh;
    max-width: 68%;
    margin: 0 auto;
}

.text-main {
    margin: 45px 0 0;
}

.heart {
    width: 17px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 15px;

}

.sofa {
    width: 212px;
    height: 150px;
}

.content-box {
    display: flex;
    justify-content: center;
}
.content2 {
    position: relative;
    width: 263px;
    height: 373px;
    background: #FFFFFF;
    padding: 21px;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.text-content h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #414141;
}
.text-content p {
    font-size: 11px;
    font-weight: 400;
    margin: 6px 0 9px;
    line-height: 13px;
    color: #414141;
}
.text-content {
    margin: 0 0 15px;
}
.content-wrapper p {
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #C4C4C4;
}
.content-wrapper span {
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #414141;
    padding: 8px 0 0;
}

.content-wrapper {
    padding: 0 0 17px;
}
.text-box {
    display: flex;
    justify-content: space-between;
    width: 83%;;
}

.btn-wrap {
    width: 223px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    border: none;
    color: #FFFFFF;
    background: #245462;
}
.price-btn {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;
    color: #000000;
}
.text-main-wrap h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
}

.text-main-wrap {
    max-width: 68%;
    margin: 0 auto 10px;
}

.sofa2 {
    margin: 0 0 20px;
}