@media(max-width: 1620px) {
    .container2 {
        height: 54vh;
        max-width: 73%;
    }
    .text-main-wrap {
        max-width: 73%;
    }
}
@media(max-width: 1526px) {
    .container2 {
        max-width: 76%;
    }
    .container {
        width: 73%;
    }
}
@media(max-width: 1410px) {
    .container {
        max-width: 90%;
    }
    .container2 {
        max-width: 82%;
    }
    .text-main-wrap {
        max-width: 81%;
    }
}

@media(max-width: 1310px) {
    .images-main img {
        width: 527px;
    }
    .content2 {
        width: 241px;
    }
    .btn-wrap {
        width: 200px;
    }
}
@media(max-width: 1200px) {
    .images-main img {
        width: 460px;
    }
    .content2 {
        width: 223px;
    }
    .btn-wrap {
        width: 180px;
    }
    .text-main h1 {
      font-size: 33px;
    }
    .text-wrapper h1 {
        font-size: 25px;
    }
}

@media(max-width: 1120px) {
    .content2 {
        width: 208px;
    }
    .btn-wrap {
        width: 165px;
    }.images-main img {
         width: 444px;
     }

}
@media(max-width: 1050px) {
    .content2 {
        width: 199px;
    }
    .container2 {
        max-width: 85%;
    }
    .text-content h1 {
        font-size: 12px;
    }
    .text-content p {
        font-size: 9px;
    }
    .btn-wrap {
        width: 160px;
    }
    .images-main img {
        width: 387px;
        height: 220px;
    }
}

@media(max-width: 980px) {
    .margin {
        margin: 0 13px 0;
    }
    .images-main img {
        width: 360px;
        height: 220px;
    }
    .container2 {
        max-width: 90%;
    }
    .text-main-wrap {
        max-width: 89%;
    }
    .text-main h1 {
        font-size: 30px;
    }
}
@media(max-width: 700px) {
    .images-main img {
        width: 517px;
        height: 231px;
        margin: 30px 0;
    }
    .container {
        height: 79vh;
        display: block;
    }
    .container2 {
        grid-template-columns: 1fr 1fr;
    }
    .container2 {
        max-width: 75%;
        height: 100vh;
        margin: 25px auto;
    }
    .content2 {
        width: 252px;
        margin: 6px 0;
    }
    .text-main-wrap {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 672px) {
    .container2 {
        max-width: 80%;
    }
    .images-main img {
        width: 485px;
        height: 219px;
    }
    .content2 {
        width: 208px;
    }
    .container2 {
        max-width: 72%;
    }
}

@media(max-width: 590px) {
    .container2 {
        max-width: 79%;
    }
    .images-main img {
        width: 434px;
        height: 197px;
    }
}

@media(max-width: 540px) {
    .content2 {
        width: 195px;
    }
    .btn-wrap {
        width: 154px;
    }
    .container2 {
        max-width: 79%;
    }
    .sofa2 {
        width: 193px;
    }
    .images-main img {
        width: 402px;
        height: 185px;
    }
}
@media(max-width: 510px) {
    .container2 {
        max-width: 60%;
        height: 1851px;
        display: block;
    }
    .content2 {
        width: 300px;
        height: 373px;
        margin: 30px 0
    }
    .container23 {
        width: 100%;
    }
    .btn-wrap {
        width: 260px;
    }
    .sofa2 {
        width: 247px;
    }
    .text-content h1 {
        font-size: 18px;
    }
    .text-content p {
        font-size: 11px;
    }
    .container {
        width: 87%;
        height: 64vh;
    }
    .images-main img {
        width: 438px;
        height: 190px;
    }
}

@media(max-width: 414px) {
    .images-main img {
        width: 363px;
        height: 170px;
    }
    .text-main h1 {
        font-size: 26px;
    }
    .container {
        height: 62vh;
    }
    .text-wrapper h1 {
        font-size: 23px;
    }
    .p-text {
        font-size: 11px;
        width: 350px;
    }
    .container2 {
        max-width: 72%;
    }
}

@media(max-width: 400px) {
    .images-main img {
        width: 308px;
        height: 149px;
    }
    .text-main h1 {
        font-size: 24px;
    }
    .text-wrapper h1 {
        font-size: 21px;
    }
    .btn-flex button {
        width: 38px;
        height: 41px;
    }
    .p-text {
        width: 313px;
    }
    .container2 {
        max-width: 75%;
    }
    .margin {
        margin: 0 5px 0;
    }
    .text-main-wrap {
      justify-content: start;
      margin: 0 45px 0;
    }
}

@media(max-width: 393px) {
    .container {
        height: 67vh;
    }
}

@media(max-width: 390px) {
    .container2 {
        max-width: 77%;
        height: 1581px;
    }
    .images-main img {
        width: 343px;
        height: 149px;
    }
    .content-box img {
        width: 200px;
    }
    .container {
        height: 64vh;
    }
}

@media(max-width: 375px) {
    .images-main img {
        width: 329px;
    }
    .container2 {
        max-width: 80%;
    }
    .content-box img {
        width: 215px;
        height: 106px;
    }
    .content2 {
        height: 373px;
    }
    .container2 {
        height: 1584px;
    }
    .text-main-wrap {
        margin: 0 40px 0;
    }
    .container {
        height: 65vh;
    }
}

@media(max-width: 320px) {
    .main {
        margin: 56px 0;
    }
    .images-main img {
        width: 278px;
        height: 134px;
    }
    .p-text {
        width: 278px;
    }
    .container2 {
        max-width: 94%;
    }
    .container {
        height: 94vh;
    }
}